/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.m-0 {
  margin: 0px;
}

.text-uppercase {
  text-transform: uppercase;
  padding: 15px;
}

.container{
  /* Aquí intentamos hacerlo responsive*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

